github "SnapKit/SnapKit"
github "yeahdongcn/UIColor-Hex-Swift"
github "malcommac/SwiftDate"
github "kishikawakatsumi/KeychainAccess"
github "ReactKit/SwiftTask" "swift/3.0"
github "jonkykong/SideMenu" "master"
github "sascha/DrawerController"
github "Hearst-DD/ObjectMapper"
github "icanzilb/SwiftSpinner"
github "krsakai/PKHUD"
github "teodorpatras/EasyTipView"
github "corin8823/Popover"
